# Environnement virtuel
.venv/
__pycache__/
*.pyc

# Données
data/*.csv
data/*.xlsx
data/*.zip
data/*.parquet

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Autres fichiers temporaires
.DS_Store
Thumbs.db

